# **LINK 1 CLEANING & FORMATTING**

In [9]:
HW3LINK1="https://github.com/DACSS601HW/HW3/raw/refs/heads/main/HW3.1_Maternal%20mortality%20ratio.csv"

In [11]:
DIRTY1=read.csv(HW3LINK1)

In [12]:
str(DIRTY1)

'data.frame':	196 obs. of  7 variables:
 $ name               : chr  "Nigeria" "Chad" "South Sudan" "Central African Republic" ...
 $ slug               : chr  "nigeria" "chad" "south-sudan" "central-african-republic" ...
 $ deaths.100         : int  993 748 692 692 628 563 521 518 505 494 ...
 $ X000.live.births   : int  2023 2023 2023 2023 2023 2023 2023 2023 2023 2023 ...
 $ date_of_information: int  1 2 3 4 5 6 7 8 9 10 ...
 $ ranking            : chr  "Africa" "Africa" "Africa" "Africa" ...
 $ region             : logi  NA NA NA NA NA NA ...

In [13]:
head(DIRTY1)

  name                     slug                     deaths.100 X000.live.births
1 Nigeria                  nigeria                  993        2023
2 Chad                     chad                     748        2023
3 South Sudan              south-sudan              692        2023
4 Central African Republic central-african-republic 692        2023
5 Liberia                  liberia                  628        2023
6 Somalia                  somalia                  563        2023
  date_of_information ranking region
1 1                   Africa  NA
2 2                   Africa  NA
3 3                   Africa  NA
4 4                   Africa  NA
5 5                   Africa  NA
6 6                   Africa  NA

In [14]:
tail(DIRTY1)

    name         slug         deaths.100 X000.live.births date_of_information
191 Australia    australia    2          2023             191
192 Israel       israel       2          2023             192
193 Poland       poland       2          2023             193
194 Belarus      belarus      1          2023             194
195 Norway       norway       1          2023             195
196 Cook Islands cook-islands 0          2023             196
    ranking               region
191 Australia and Oceania NA
192 Middle East           NA
193 Europe                NA
194 Europe                NA
195 Europe                NA
196 Australia and Oceania NA

In [26]:
names(DIRTY1)

[1] "name"                "slug"                "deaths.100"
[4] "X000.live.births"    "date_of_information" "ranking"
[7] "region"

In [31]:
DIRTY1 <- DIRTY1[, !(names(DIRTY1) %in% c('region', 'X000.live.births', 'date_of_information', 'slug'))]
DIRTY1

    name                              deaths.100
1   Nigeria                           993
2   Chad                              748
3   South Sudan                       692
4   Central African Republic          692
5   Liberia                           628
6   Somalia                           563
7   Afghanistan                       521
8   Benin                             518
9   Guinea-Bissau                     505
10  Guinea                            494
11  Lesotho                           478
12  Madagascar                        445
13  Congo, Democratic Republic of the 427
14  Burundi                           392
15  Mauritania                        381
16  Kenya                             379
17  Mali                              367
18  Cote d'Ivoire                     359
19  Zimbabwe                          358
20  Gambia, The                       354
21  Sierra Leone                      354
22  Niger                             350
23  Togo                              349
24  Haiti                             328
25  Eritrea                           291
26  Tanzania                          276
27  Nauru                             273
28  Cameroon                          258
29  Sudan                             256
30  Burkina Faso                      242
⋮   ⋮                                 ⋮
167 Austria                           6
168 Bulgaria                          6
169 Turkmenistan                      5
170 Estonia                           5
171 Greece                            5
172 Switzerland                       5
173 Monaco                            5
174 Ireland                           4
175 Qatar                             4
176 Netherlands                       4
177 Belgium                           4
178 Denmark                           4
179 Korea, South                      4
180 Sweden                            4
181 Slovakia                          4
182 Germany                           4
183 Japan                             3
184 Spain                             3
185 North Macedonia                   3
186 Iceland                           3
187 Czechia                           3
188 Croatia                           3
189 United Arab Emirates              3
190 Slovenia                          3
191 Australia                         2
192 Israel                            2
193 Poland                            2
194 Belarus                           1
195 Norway                            1
196 Cook Islands                      0
    ranking
1   Africa
2   Africa
3   Africa
4   Africa
5   Africa
6   Africa
7   South Asia
8   Africa
9   Africa
10  Africa
11  Africa
12  Africa
13  Africa
14  Africa
15  Africa
16  Africa
17  Africa
18  Africa
19  Africa
20  Africa
21  Africa
22  Africa
23  Africa
24  Central America and the Caribbean
25  Africa
26  Africa
27  Australia and Oceania
28  Africa
29  Africa
30  Africa
⋮   ⋮
167 Europe
168 Europe
169 Central Asia
170 Europe
171 Europe
172 Europe
173 Europe
174 Europe
175 Middle East
176 Europe
177 Europe
178 Europe
179 East and Southeast Asia
180 Europe
181 Europe
182 Europe
183 East and Southeast Asia
184 Europe
185 Europe
186 Europe
187 Europe
188 Europe
189 Middle East
190 Europe
191 Australia and Oceania
192 Middle East
193 Europe
194 Europe
195 Europe
196 Australia and Oceania

In [36]:
str(DIRTY1)

'data.frame':	196 obs. of  3 variables:
 $ name      : chr  "Nigeria" "Chad" "South Sudan" "Central African Republic" ...
 $ deaths.100: int  993 748 692 692 628 563 521 518 505 494 ...
 $ ranking   : chr  "Africa" "Africa" "Africa" "Africa" ...

In [47]:
names(DIRTY1)[names(DIRTY1) %in% c("name", "deaths.100", "ranking")] <-
  c("Country", "Deaths per 100k Live Births", "Region")
  DIRTY1

    Country                           Deaths per 100k Live Births
1   Nigeria                           993
2   Chad                              748
3   South Sudan                       692
4   Central African Republic          692
5   Liberia                           628
6   Somalia                           563
7   Afghanistan                       521
8   Benin                             518
9   Guinea-Bissau                     505
10  Guinea                            494
11  Lesotho                           478
12  Madagascar                        445
13  Congo, Democratic Republic of the 427
14  Burundi                           392
15  Mauritania                        381
16  Kenya                             379
17  Mali                              367
18  Cote d'Ivoire                     359
19  Zimbabwe                          358
20  Gambia, The                       354
21  Sierra Leone                      354
22  Niger                             350
23  Togo                              349
24  Haiti                             328
25  Eritrea                           291
26  Tanzania                          276
27  Nauru                             273
28  Cameroon                          258
29  Sudan                             256
30  Burkina Faso                      242
⋮   ⋮                                 ⋮
167 Austria                           6
168 Bulgaria                          6
169 Turkmenistan                      5
170 Estonia                           5
171 Greece                            5
172 Switzerland                       5
173 Monaco                            5
174 Ireland                           4
175 Qatar                             4
176 Netherlands                       4
177 Belgium                           4
178 Denmark                           4
179 Korea, South                      4
180 Sweden                            4
181 Slovakia                          4
182 Germany                           4
183 Japan                             3
184 Spain                             3
185 North Macedonia                   3
186 Iceland                           3
187 Czechia                           3
188 Croatia                           3
189 United Arab Emirates              3
190 Slovenia                          3
191 Australia                         2
192 Israel                            2
193 Poland                            2
194 Belarus                           1
195 Norway                            1
196 Cook Islands                      0
    Region
1   Africa
2   Africa
3   Africa
4   Africa
5   Africa
6   Africa
7   South Asia
8   Africa
9   Africa
10  Africa
11  Africa
12  Africa
13  Africa
14  Africa
15  Africa
16  Africa
17  Africa
18  Africa
19  Africa
20  Africa
21  Africa
22  Africa
23  Africa
24  Central America and the Caribbean
25  Africa
26  Africa
27  Australia and Oceania
28  Africa
29  Africa
30  Africa
⋮   ⋮
167 Europe
168 Europe
169 Central Asia
170 Europe
171 Europe
172 Europe
173 Europe
174 Europe
175 Middle East
176 Europe
177 Europe
178 Europe
179 East and Southeast Asia
180 Europe
181 Europe
182 Europe
183 East and Southeast Asia
184 Europe
185 Europe
186 Europe
187 Europe
188 Europe
189 Middle East
190 Europe
191 Australia and Oceania
192 Middle East
193 Europe
194 Europe
195 Europe
196 Australia and Oceania

In [53]:
DIRTY1$Country <- toupper(DIRTY1$Country)
DIRTY1

    Country                           Deaths per 100k Live Births
1   NIGERIA                           993
2   CHAD                              748
3   SOUTH SUDAN                       692
4   CENTRAL AFRICAN REPUBLIC          692
5   LIBERIA                           628
6   SOMALIA                           563
7   AFGHANISTAN                       521
8   BENIN                             518
9   GUINEA-BISSAU                     505
10  GUINEA                            494
11  LESOTHO                           478
12  MADAGASCAR                        445
13  CONGO, DEMOCRATIC REPUBLIC OF THE 427
14  BURUNDI                           392
15  MAURITANIA                        381
16  KENYA                             379
17  MALI                              367
18  COTE D'IVOIRE                     359
19  ZIMBABWE                          358
20  GAMBIA, THE                       354
21  SIERRA LEONE                      354
22  NIGER                             350
23  TOGO                              349
24  HAITI                             328
25  ERITREA                           291
26  TANZANIA                          276
27  NAURU                             273
28  CAMEROON                          258
29  SUDAN                             256
30  BURKINA FASO                      242
⋮   ⋮                                 ⋮
167 AUSTRIA                           6
168 BULGARIA                          6
169 TURKMENISTAN                      5
170 ESTONIA                           5
171 GREECE                            5
172 SWITZERLAND                       5
173 MONACO                            5
174 IRELAND                           4
175 QATAR                             4
176 NETHERLANDS                       4
177 BELGIUM                           4
178 DENMARK                           4
179 KOREA, SOUTH                      4
180 SWEDEN                            4
181 SLOVAKIA                          4
182 GERMANY                           4
183 JAPAN                             3
184 SPAIN                             3
185 NORTH MACEDONIA                   3
186 ICELAND                           3
187 CZECHIA                           3
188 CROATIA                           3
189 UNITED ARAB EMIRATES              3
190 SLOVENIA                          3
191 AUSTRALIA                         2
192 ISRAEL                            2
193 POLAND                            2
194 BELARUS                           1
195 NORWAY                            1
196 COOK ISLANDS                      0
    Region
1   Africa
2   Africa
3   Africa
4   Africa
5   Africa
6   Africa
7   South Asia
8   Africa
9   Africa
10  Africa
11  Africa
12  Africa
13  Africa
14  Africa
15  Africa
16  Africa
17  Africa
18  Africa
19  Africa
20  Africa
21  Africa
22  Africa
23  Africa
24  Central America and the Caribbean
25  Africa
26  Africa
27  Australia and Oceania
28  Africa
29  Africa
30  Africa
⋮   ⋮
167 Europe
168 Europe
169 Central Asia
170 Europe
171 Europe
172 Europe
173 Europe
174 Europe
175 Middle East
176 Europe
177 Europe
178 Europe
179 East and Southeast Asia
180 Europe
181 Europe
182 Europe
183 East and Southeast Asia
184 Europe
185 Europe
186 Europe
187 Europe
188 Europe
189 Middle East
190 Europe
191 Australia and Oceania
192 Middle East
193 Europe
194 Europe
195 Europe
196 Australia and Oceania

In [54]:
saveRDS(DIRTY1,"HW3.1_MaternalMortalityRatio.RDS")

In [62]:
DIRTY3RDS=readRDS("HW3.1_MaternalMortalityRatio.RDS")
str(DIRTY3RDS)

'data.frame':	196 obs. of  3 variables:
 $ Country                    : chr  "NIGERIA" "CHAD" "SOUTH SUDAN" "CENTRAL AFRICAN REPUBLIC" ...
 $ Deaths per 100k Live Births: int  993 748 692 692 628 563 521 518 505 494 ...
 $ Region                     : chr  "Africa" "Africa" "Africa" "Africa" ...

In [58]:
write.csv(DIRTY1,"HW3.1_MaternalMortalityRatio.csv", row.names=FALSE)
DIRTY1CSV=read.csv("HW3.1_MaternalMortalityRatio.csv")
str(DIRTY1CSV)

'data.frame':	196 obs. of  3 variables:
 $ Country                    : chr  "NIGERIA" "CHAD" "SOUTH SUDAN" "CENTRAL AFRICAN REPUBLIC" ...
 $ Deaths.per.100k.Live.Births: int  993 748 692 692 628 563 521 518 505 494 ...
 $ Region                     : chr  "Africa" "Africa" "Africa" "Africa" ...

# **LINK 2 CLEANING & FORMATTING**

In [39]:
HW3LINK2="https://github.com/DACSS601HW/HW3/raw/refs/heads/main/HW3.2_Infant%20mortality%20rate.csv"

In [40]:
DIRTY2=read.csv(HW3LINK2)

In [41]:
str(DIRTY2)

'data.frame':	227 obs. of  7 variables:
 $ name               : chr  "Afghanistan" "Somalia" "Central African Republic" "Equatorial Guinea" ...
 $ slug               : chr  "afghanistan" "somalia" "central-african-republic" "equatorial-guinea" ...
 $ deaths.1           : num  101.3 83.6 80.5 77.4 71.2 ...
 $ X000.live.births   : int  2024 2024 2024 2024 2024 2024 2024 2024 2024 2024 ...
 $ date_of_information: int  1 2 3 4 5 6 7 8 9 10 ...
 $ ranking            : chr  "South Asia" "Africa" "Africa" "Africa" ...
 $ region             : logi  NA NA NA NA NA NA ...

In [42]:
head(DIRTY2)

  name                     slug                     deaths.1 X000.live.births
1 Afghanistan              afghanistan              101.3    2024
2 Somalia                  somalia                   83.6    2024
3 Central African Republic central-african-republic  80.5    2024
4 Equatorial Guinea        equatorial-guinea         77.4    2024
5 Sierra Leone             sierra-leone              71.2    2024
6 Niger                    niger                     64.3    2024
  date_of_information ranking    region
1 1                   South Asia NA
2 2                   Africa     NA
3 3                   Africa     NA
4 4                   Africa     NA
5 5                   Africa     NA
6 6                   Africa     NA

In [43]:
tail(DIRTY2)

    name      slug      deaths.1 X000.live.births date_of_information
222 Japan     japan     1.9      2024             222
223 Norway    norway    1.8      2024             223
224 Monaco    monaco    1.7      2024             224
225 Iceland   iceland   1.6      2024             225
226 Singapore singapore 1.5      2024             226
227 Slovenia  slovenia  1.5      2024             227
    ranking                 region
222 East and Southeast Asia NA
223 Europe                  NA
224 Europe                  NA
225 Europe                  NA
226 East and Southeast Asia NA
227 Europe                  NA

In [44]:
DIRTY2 <- DIRTY2[, !(names(DIRTY2) %in% c('region', 'X000.live.births', 'date_of_information', 'slug'))]
DIRTY2

    name                              deaths.1
1   Afghanistan                       101.3
2   Somalia                            83.6
3   Central African Republic           80.5
4   Equatorial Guinea                  77.4
5   Sierra Leone                       71.2
6   Niger                              64.3
7   Chad                               62.5
8   South Sudan                        60.1
9   Mozambique                         58.2
10  Mali                               57.4
11  Congo, Democratic Republic of the  57.4
12  Liberia                            55.7
13  Angola                             55.6
14  Comoros                            54.9
15  Nigeria                            53.7
16  Benin                              52.9
17  Cote d'Ivoire                      52.5
18  Pakistan                           51.5
19  Mauritania                         48.9
20  Burkina Faso                       47.0
21  Guinea                             47.0
22  Guinea-Bissau                      46.4
23  Cameroon                           46.1
24  Lesotho                            45.7
25  Djibouti                           45.2
26  Yemen                              44.6
27  Sao Tome and Principe              42.6
28  Sudan                              40.6
29  Eritrea                            39.8
30  Togo                               38.4
⋮   ⋮                                 ⋮
198 Ireland                           3.3
199 New Zealand                       3.3
200 Andorra                           3.3
201 Austria                           3.2
202 Montenegro                        3.2
203 Luxembourg                        3.2
204 France                            3.1
205 Belgium                           3.1
206 Germany                           3.1
207 Italy                             3.1
208 Anguilla                          3.0
209 Switzerland                       3.0
210 Denmark                           3.0
211 Australia                         2.9
212 Korea, South                      2.8
213 Israel                            2.8
214 Czechia                           2.6
215 Hong Kong                         2.5
216 Portugal                          2.4
217 Spain                             2.4
218 Sweden                            2.3
219 Belarus                           2.1
220 Bermuda                           2.1
221 Finland                           2.1
222 Japan                             1.9
223 Norway                            1.8
224 Monaco                            1.7
225 Iceland                           1.6
226 Singapore                         1.5
227 Slovenia                          1.5
    ranking
1   South Asia
2   Africa
3   Africa
4   Africa
5   Africa
6   Africa
7   Africa
8   Africa
9   Africa
10  Africa
11  Africa
12  Africa
13  Africa
14  Africa
15  Africa
16  Africa
17  Africa
18  South Asia
19  Africa
20  Africa
21  Africa
22  Africa
23  Africa
24  Africa
25  Africa
26  Middle East
27  Africa
28  Africa
29  Africa
30  Africa
⋮   ⋮
198 Europe
199 Australia and Oceania
200 Europe
201 Europe
202 Europe
203 Europe
204 Europe
205 Europe
206 Europe
207 Europe
208 Central America and the Caribbean
209 Europe
210 Europe
211 Australia and Oceania
212 East and Southeast Asia
213 Middle East
214 Europe
215 East and Southeast Asia
216 Europe
217 Europe
218 Europe
219 Europe
220 North America
221 Europe
222 East and Southeast Asia
223 Europe
224 Europe
225 Europe
226 East and Southeast Asia
227 Europe

In [45]:
str(DIRTY2)

'data.frame':	227 obs. of  3 variables:
 $ name    : chr  "Afghanistan" "Somalia" "Central African Republic" "Equatorial Guinea" ...
 $ deaths.1: num  101.3 83.6 80.5 77.4 71.2 ...
 $ ranking : chr  "South Asia" "Africa" "Africa" "Africa" ...

In [49]:
names(DIRTY2)[names(DIRTY2) %in% c("name", "deaths.1", "ranking")] <-
  c("Country", "Infant Deaths per 1K Live Births", "Region")
  DIRTY2

    Country                           Infant Deaths per 1K Live Births
1   Afghanistan                       101.3
2   Somalia                            83.6
3   Central African Republic           80.5
4   Equatorial Guinea                  77.4
5   Sierra Leone                       71.2
6   Niger                              64.3
7   Chad                               62.5
8   South Sudan                        60.1
9   Mozambique                         58.2
10  Mali                               57.4
11  Congo, Democratic Republic of the  57.4
12  Liberia                            55.7
13  Angola                             55.6
14  Comoros                            54.9
15  Nigeria                            53.7
16  Benin                              52.9
17  Cote d'Ivoire                      52.5
18  Pakistan                           51.5
19  Mauritania                         48.9
20  Burkina Faso                       47.0
21  Guinea                             47.0
22  Guinea-Bissau                      46.4
23  Cameroon                           46.1
24  Lesotho                            45.7
25  Djibouti                           45.2
26  Yemen                              44.6
27  Sao Tome and Principe              42.6
28  Sudan                              40.6
29  Eritrea                            39.8
30  Togo                               38.4
⋮   ⋮                                 ⋮
198 Ireland                           3.3
199 New Zealand                       3.3
200 Andorra                           3.3
201 Austria                           3.2
202 Montenegro                        3.2
203 Luxembourg                        3.2
204 France                            3.1
205 Belgium                           3.1
206 Germany                           3.1
207 Italy                             3.1
208 Anguilla                          3.0
209 Switzerland                       3.0
210 Denmark                           3.0
211 Australia                         2.9
212 Korea, South                      2.8
213 Israel                            2.8
214 Czechia                           2.6
215 Hong Kong                         2.5
216 Portugal                          2.4
217 Spain                             2.4
218 Sweden                            2.3
219 Belarus                           2.1
220 Bermuda                           2.1
221 Finland                           2.1
222 Japan                             1.9
223 Norway                            1.8
224 Monaco                            1.7
225 Iceland                           1.6
226 Singapore                         1.5
227 Slovenia                          1.5
    Region
1   South Asia
2   Africa
3   Africa
4   Africa
5   Africa
6   Africa
7   Africa
8   Africa
9   Africa
10  Africa
11  Africa
12  Africa
13  Africa
14  Africa
15  Africa
16  Africa
17  Africa
18  South Asia
19  Africa
20  Africa
21  Africa
22  Africa
23  Africa
24  Africa
25  Africa
26  Middle East
27  Africa
28  Africa
29  Africa
30  Africa
⋮   ⋮
198 Europe
199 Australia and Oceania
200 Europe
201 Europe
202 Europe
203 Europe
204 Europe
205 Europe
206 Europe
207 Europe
208 Central America and the Caribbean
209 Europe
210 Europe
211 Australia and Oceania
212 East and Southeast Asia
213 Middle East
214 Europe
215 East and Southeast Asia
216 Europe
217 Europe
218 Europe
219 Europe
220 North America
221 Europe
222 East and Southeast Asia
223 Europe
224 Europe
225 Europe
226 East and Southeast Asia
227 Europe

In [52]:
DIRTY2$Country <- toupper(DIRTY2$Country)
DIRTY2

    Country                           Infant Deaths per 1K Live Births
1   AFGHANISTAN                       101.3
2   SOMALIA                            83.6
3   CENTRAL AFRICAN REPUBLIC           80.5
4   EQUATORIAL GUINEA                  77.4
5   SIERRA LEONE                       71.2
6   NIGER                              64.3
7   CHAD                               62.5
8   SOUTH SUDAN                        60.1
9   MOZAMBIQUE                         58.2
10  MALI                               57.4
11  CONGO, DEMOCRATIC REPUBLIC OF THE  57.4
12  LIBERIA                            55.7
13  ANGOLA                             55.6
14  COMOROS                            54.9
15  NIGERIA                            53.7
16  BENIN                              52.9
17  COTE D'IVOIRE                      52.5
18  PAKISTAN                           51.5
19  MAURITANIA                         48.9
20  BURKINA FASO                       47.0
21  GUINEA                             47.0
22  GUINEA-BISSAU                      46.4
23  CAMEROON                           46.1
24  LESOTHO                            45.7
25  DJIBOUTI                           45.2
26  YEMEN                              44.6
27  SAO TOME AND PRINCIPE              42.6
28  SUDAN                              40.6
29  ERITREA                            39.8
30  TOGO                               38.4
⋮   ⋮                                 ⋮
198 IRELAND                           3.3
199 NEW ZEALAND                       3.3
200 ANDORRA                           3.3
201 AUSTRIA                           3.2
202 MONTENEGRO                        3.2
203 LUXEMBOURG                        3.2
204 FRANCE                            3.1
205 BELGIUM                           3.1
206 GERMANY                           3.1
207 ITALY                             3.1
208 ANGUILLA                          3.0
209 SWITZERLAND                       3.0
210 DENMARK                           3.0
211 AUSTRALIA                         2.9
212 KOREA, SOUTH                      2.8
213 ISRAEL                            2.8
214 CZECHIA                           2.6
215 HONG KONG                         2.5
216 PORTUGAL                          2.4
217 SPAIN                             2.4
218 SWEDEN                            2.3
219 BELARUS                           2.1
220 BERMUDA                           2.1
221 FINLAND                           2.1
222 JAPAN                             1.9
223 NORWAY                            1.8
224 MONACO                            1.7
225 ICELAND                           1.6
226 SINGAPORE                         1.5
227 SLOVENIA                          1.5
    Region
1   South Asia
2   Africa
3   Africa
4   Africa
5   Africa
6   Africa
7   Africa
8   Africa
9   Africa
10  Africa
11  Africa
12  Africa
13  Africa
14  Africa
15  Africa
16  Africa
17  Africa
18  South Asia
19  Africa
20  Africa
21  Africa
22  Africa
23  Africa
24  Africa
25  Africa
26  Middle East
27  Africa
28  Africa
29  Africa
30  Africa
⋮   ⋮
198 Europe
199 Australia and Oceania
200 Europe
201 Europe
202 Europe
203 Europe
204 Europe
205 Europe
206 Europe
207 Europe
208 Central America and the Caribbean
209 Europe
210 Europe
211 Australia and Oceania
212 East and Southeast Asia
213 Middle East
214 Europe
215 East and Southeast Asia
216 Europe
217 Europe
218 Europe
219 Europe
220 North America
221 Europe
222 East and Southeast Asia
223 Europe
224 Europe
225 Europe
226 East and Southeast Asia
227 Europe

In [55]:
saveRDS(DIRTY2,"HW3.2_InfantMortalityRate.RDS")

In [63]:
DIRTY2RDS=readRDS("HW3.2_InfantMortalityRate.RDS")
str(DIRTY2RDS)

'data.frame':	227 obs. of  3 variables:
 $ Country                         : chr  "AFGHANISTAN" "SOMALIA" "CENTRAL AFRICAN REPUBLIC" "EQUATORIAL GUINEA" ...
 $ Infant Deaths per 1K Live Births: num  101.3 83.6 80.5 77.4 71.2 ...
 $ Region                          : chr  "South Asia" "Africa" "Africa" "Africa" ...

In [59]:
write.csv(DIRTY2,"HW3.2_InfantMortalityRate.csv", row.names=FALSE)
DIRTY2CSV=read.csv("HW3.2_InfantMortalityRate.csv")
str(DIRTY2CSV)

'data.frame':	227 obs. of  3 variables:
 $ Country                         : chr  "AFGHANISTAN" "SOMALIA" "CENTRAL AFRICAN REPUBLIC" "EQUATORIAL GUINEA" ...
 $ Infant.Deaths.per.1K.Live.Births: num  101.3 83.6 80.5 77.4 71.2 ...
 $ Region                          : chr  "South Asia" "Africa" "Africa" "Africa" ...

# **LINK 3 CLEANING & FORMATTING**

In [21]:
HW3LINK3="https://github.com/DACSS601HW/HW3/raw/refs/heads/main/HW3.3_Life%20expectancy%20at%20birth.csv"

In [22]:
DIRTY3=read.csv(HW3LINK3)

In [23]:
str(DIRTY3)

'data.frame':	227 obs. of  6 variables:
 $ name               : chr  "Monaco" "Singapore" "Macau" "Japan" ...
 $ slug               : chr  "monaco" "singapore" "macau" "japan" ...
 $ years              : num  89.8 86.7 85.3 85.2 84.2 84.2 84 84 83.9 83.8 ...
 $ date_of_information: int  2024 2024 2024 2024 2024 2024 2024 2024 2024 2024 ...
 $ ranking            : int  1 2 3 4 5 6 7 8 9 10 ...
 $ region             : chr  "Europe" "East and Southeast Asia" "East and Southeast Asia" "East and Southeast Asia" ...

In [24]:
head(DIRTY3)

  name       slug       years date_of_information ranking
1 Monaco     monaco     89.8  2024                1
2 Singapore  singapore  86.7  2024                2
3 Macau      macau      85.3  2024                3
4 Japan      japan      85.2  2024                4
5 Canada     canada     84.2  2024                5
6 San Marino san-marino 84.2  2024                6
  region
1 Europe
2 East and Southeast Asia
3 East and Southeast Asia
4 East and Southeast Asia
5 North America
6 Europe

In [25]:
tail(DIRTY3)

    name                     slug                     years date_of_information
222 Chad                     chad                     60.0  2024
223 Sierra Leone             sierra-leone             59.4  2024
224 Mozambique               mozambique               58.3  2024
225 Somalia                  somalia                  56.5  2024
226 Central African Republic central-african-republic 56.4  2024
227 Afghanistan              afghanistan              54.4  2024
    ranking region
222 222     Africa
223 223     Africa
224 224     Africa
225 225     Africa
226 226     Africa
227 227     South Asia

In [33]:
DIRTY3 <- DIRTY3[, !(names(DIRTY3) %in% c('ranking', 'X000.live.births', 'date_of_information', 'slug'))]
DIRTY3

    name                              years region
1   Monaco                            89.8  Europe
2   Singapore                         86.7  East and Southeast Asia
3   Macau                             85.3  East and Southeast Asia
4   Japan                             85.2  East and Southeast Asia
5   Canada                            84.2  North America
6   San Marino                        84.2  Europe
7   Hong Kong                         84.0  East and Southeast Asia
8   Iceland                           84.0  Europe
9   Switzerland                       83.9  Europe
10  Andorra                           83.8  Europe
11  Guernsey                          83.6  Europe
12  Malta                             83.6  Europe
13  Australia                         83.5  Australia and Oceania
14  Luxembourg                        83.4  Europe
15  Korea, South                      83.4  East and Southeast Asia
16  Israel                            83.1  Middle East
17  Jersey                            83.0  Europe
18  Spain                             83.0  Europe
19  Italy                             83.0  Europe
20  Liechtenstein                     83.0  Europe
21  Sweden                            82.9  Europe
22  Norway                            82.9  Europe
23  New Zealand                       82.9  Australia and Oceania
24  Austria                           82.7  Europe
25  France                            82.6  Europe
26  Anguilla                          82.6  Central America and the Caribbean
27  Cayman Islands                    82.5  Central America and the Caribbean
28  Isle of Man                       82.5  Europe
29  Bermuda                           82.5  North America
30  Belgium                           82.3  Europe
⋮   ⋮                                 ⋮     ⋮
198 Zimbabwe                          67.2  Africa
199 Zambia                            66.9  Africa
200 Rwanda                            66.6  Africa
201 Botswana                          66.4  Africa
202 Djibouti                          65.9  Africa
203 Namibia                           65.9  Africa
204 Mauritania                        65.9  Africa
205 Haiti                             65.6  Central America and the Caribbean
206 Guinea                            64.6  Africa
207 Guinea-Bissau                     64.5  Africa
208 Burkina Faso                      64.2  Africa
209 Cameroon                          64.2  Africa
210 Equatorial Guinea                 63.9  Africa
211 Mali                              63.2  Africa
212 Cote d'Ivoire                     63.2  Africa
213 Benin                             63.0  Africa
214 Angola                            62.9  Africa
215 Congo, Democratic Republic of the 62.6  Africa
216 Nigeria                           62.2  Africa
217 Liberia                           61.6  Africa
218 Niger                             60.9  Africa
219 Eswatini                          60.7  Africa
220 South Sudan                       60.3  Africa
221 Lesotho                           60.2  Africa
222 Chad                              60.0  Africa
223 Sierra Leone                      59.4  Africa
224 Mozambique                        58.3  Africa
225 Somalia                           56.5  Africa
226 Central African Republic          56.4  Africa
227 Afghanistan                       54.4  South Asia

In [37]:
str(DIRTY3)

'data.frame':	227 obs. of  3 variables:
 $ name  : chr  "Monaco" "Singapore" "Macau" "Japan" ...
 $ years : num  89.8 86.7 85.3 85.2 84.2 84.2 84 84 83.9 83.8 ...
 $ region: chr  "Europe" "East and Southeast Asia" "East and Southeast Asia" "East and Southeast Asia" ...

In [50]:
names(DIRTY3)[names(DIRTY3) %in% c("name", "years", "region")] <-
  c("Country", "Average Years Lived", "Region")
  DIRTY3

    Country                           Average Years Lived
1   Monaco                            89.8
2   Singapore                         86.7
3   Macau                             85.3
4   Japan                             85.2
5   Canada                            84.2
6   San Marino                        84.2
7   Hong Kong                         84.0
8   Iceland                           84.0
9   Switzerland                       83.9
10  Andorra                           83.8
11  Guernsey                          83.6
12  Malta                             83.6
13  Australia                         83.5
14  Luxembourg                        83.4
15  Korea, South                      83.4
16  Israel                            83.1
17  Jersey                            83.0
18  Spain                             83.0
19  Italy                             83.0
20  Liechtenstein                     83.0
21  Sweden                            82.9
22  Norway                            82.9
23  New Zealand                       82.9
24  Austria                           82.7
25  France                            82.6
26  Anguilla                          82.6
27  Cayman Islands                    82.5
28  Isle of Man                       82.5
29  Bermuda                           82.5
30  Belgium                           82.3
⋮   ⋮                                 ⋮
198 Zimbabwe                          67.2
199 Zambia                            66.9
200 Rwanda                            66.6
201 Botswana                          66.4
202 Djibouti                          65.9
203 Namibia                           65.9
204 Mauritania                        65.9
205 Haiti                             65.6
206 Guinea                            64.6
207 Guinea-Bissau                     64.5
208 Burkina Faso                      64.2
209 Cameroon                          64.2
210 Equatorial Guinea                 63.9
211 Mali                              63.2
212 Cote d'Ivoire                     63.2
213 Benin                             63.0
214 Angola                            62.9
215 Congo, Democratic Republic of the 62.6
216 Nigeria                           62.2
217 Liberia                           61.6
218 Niger                             60.9
219 Eswatini                          60.7
220 South Sudan                       60.3
221 Lesotho                           60.2
222 Chad                              60.0
223 Sierra Leone                      59.4
224 Mozambique                        58.3
225 Somalia                           56.5
226 Central African Republic          56.4
227 Afghanistan                       54.4
    Region
1   Europe
2   East and Southeast Asia
3   East and Southeast Asia
4   East and Southeast Asia
5   North America
6   Europe
7   East and Southeast Asia
8   Europe
9   Europe
10  Europe
11  Europe
12  Europe
13  Australia and Oceania
14  Europe
15  East and Southeast Asia
16  Middle East
17  Europe
18  Europe
19  Europe
20  Europe
21  Europe
22  Europe
23  Australia and Oceania
24  Europe
25  Europe
26  Central America and the Caribbean
27  Central America and the Caribbean
28  Europe
29  North America
30  Europe
⋮   ⋮
198 Africa
199 Africa
200 Africa
201 Africa
202 Africa
203 Africa
204 Africa
205 Central America and the Caribbean
206 Africa
207 Africa
208 Africa
209 Africa
210 Africa
211 Africa
212 Africa
213 Africa
214 Africa
215 Africa
216 Africa
217 Africa
218 Africa
219 Africa
220 Africa
221 Africa
222 Africa
223 Africa
224 Africa
225 Africa
226 Africa
227 South Asia

In [51]:
DIRTY3$Country <- toupper(DIRTY3$Country)
DIRTY3

    Country                           Average Years Lived
1   MONACO                            89.8
2   SINGAPORE                         86.7
3   MACAU                             85.3
4   JAPAN                             85.2
5   CANADA                            84.2
6   SAN MARINO                        84.2
7   HONG KONG                         84.0
8   ICELAND                           84.0
9   SWITZERLAND                       83.9
10  ANDORRA                           83.8
11  GUERNSEY                          83.6
12  MALTA                             83.6
13  AUSTRALIA                         83.5
14  LUXEMBOURG                        83.4
15  KOREA, SOUTH                      83.4
16  ISRAEL                            83.1
17  JERSEY                            83.0
18  SPAIN                             83.0
19  ITALY                             83.0
20  LIECHTENSTEIN                     83.0
21  SWEDEN                            82.9
22  NORWAY                            82.9
23  NEW ZEALAND                       82.9
24  AUSTRIA                           82.7
25  FRANCE                            82.6
26  ANGUILLA                          82.6
27  CAYMAN ISLANDS                    82.5
28  ISLE OF MAN                       82.5
29  BERMUDA                           82.5
30  BELGIUM                           82.3
⋮   ⋮                                 ⋮
198 ZIMBABWE                          67.2
199 ZAMBIA                            66.9
200 RWANDA                            66.6
201 BOTSWANA                          66.4
202 DJIBOUTI                          65.9
203 NAMIBIA                           65.9
204 MAURITANIA                        65.9
205 HAITI                             65.6
206 GUINEA                            64.6
207 GUINEA-BISSAU                     64.5
208 BURKINA FASO                      64.2
209 CAMEROON                          64.2
210 EQUATORIAL GUINEA                 63.9
211 MALI                              63.2
212 COTE D'IVOIRE                     63.2
213 BENIN                             63.0
214 ANGOLA                            62.9
215 CONGO, DEMOCRATIC REPUBLIC OF THE 62.6
216 NIGERIA                           62.2
217 LIBERIA                           61.6
218 NIGER                             60.9
219 ESWATINI                          60.7
220 SOUTH SUDAN                       60.3
221 LESOTHO                           60.2
222 CHAD                              60.0
223 SIERRA LEONE                      59.4
224 MOZAMBIQUE                        58.3
225 SOMALIA                           56.5
226 CENTRAL AFRICAN REPUBLIC          56.4
227 AFGHANISTAN                       54.4
    Region
1   Europe
2   East and Southeast Asia
3   East and Southeast Asia
4   East and Southeast Asia
5   North America
6   Europe
7   East and Southeast Asia
8   Europe
9   Europe
10  Europe
11  Europe
12  Europe
13  Australia and Oceania
14  Europe
15  East and Southeast Asia
16  Middle East
17  Europe
18  Europe
19  Europe
20  Europe
21  Europe
22  Europe
23  Australia and Oceania
24  Europe
25  Europe
26  Central America and the Caribbean
27  Central America and the Caribbean
28  Europe
29  North America
30  Europe
⋮   ⋮
198 Africa
199 Africa
200 Africa
201 Africa
202 Africa
203 Africa
204 Africa
205 Central America and the Caribbean
206 Africa
207 Africa
208 Africa
209 Africa
210 Africa
211 Africa
212 Africa
213 Africa
214 Africa
215 Africa
216 Africa
217 Africa
218 Africa
219 Africa
220 Africa
221 Africa
222 Africa
223 Africa
224 Africa
225 Africa
226 Africa
227 South Asia

In [56]:
saveRDS(DIRTY3,"HW3.3_LifeExpectancyAtBirth.RDS")

In [64]:
DIRTY3RDS=readRDS("HW3.3_LifeExpectancyAtBirth.RDS")
str(DIRTY3RDS)

'data.frame':	227 obs. of  3 variables:
 $ Country            : chr  "MONACO" "SINGAPORE" "MACAU" "JAPAN" ...
 $ Average Years Lived: num  89.8 86.7 85.3 85.2 84.2 84.2 84 84 83.9 83.8 ...
 $ Region             : chr  "Europe" "East and Southeast Asia" "East and Southeast Asia" "East and Southeast Asia" ...

In [60]:
write.csv(DIRTY3,"HW3.3_LifeExpectancyAtBirth.csv", row.names=FALSE)
DIRTY3CSV=read.csv("HW3.3_LifeExpectancyAtBirth.csv")
str(DIRTY3CSV)

'data.frame':	227 obs. of  3 variables:
 $ Country            : chr  "MONACO" "SINGAPORE" "MACAU" "JAPAN" ...
 $ Average.Years.Lived: num  89.8 86.7 85.3 85.2 84.2 84.2 84 84 83.9 83.8 ...
 $ Region             : chr  "Europe" "East and Southeast Asia" "East and Southeast Asia" "East and Southeast Asia" ...