# **LINK 1 CLEANING & FORMATTING**

In [2]:
#creates a variable that stores a web link for that variable
HW3LINK1="https://github.com/DACSS601HW/HW3/raw/refs/heads/main/HW3.1_Maternal%20mortality%20ratio.csv"

In [3]:
#This line downloads a CSV file from the web and loads it into R as a data frame, storing it in a variable called DIRTY1
DIRTY1=read.csv(HW3LINK1)

In [4]:
#inspects the internal structure of the dataset so you can quickly understand what kind of data you’re working with
str(DIRTY1)

'data.frame':	196 obs. of  7 variables:
 $ name               : chr  "Nigeria" "Chad" "South Sudan" "Central African Republic" ...
 $ slug               : chr  "nigeria" "chad" "south-sudan" "central-african-republic" ...
 $ deaths.100         : int  993 748 692 692 628 563 521 518 505 494 ...
 $ X000.live.births   : int  2023 2023 2023 2023 2023 2023 2023 2023 2023 2023 ...
 $ date_of_information: int  1 2 3 4 5 6 7 8 9 10 ...
 $ ranking            : chr  "Africa" "Africa" "Africa" "Africa" ...
 $ region             : logi  NA NA NA NA NA NA ...

In [5]:
#displays the first few rows of DIRTY1
head(DIRTY1)

  name                     slug                     deaths.100 X000.live.births
1 Nigeria                  nigeria                  993        2023
2 Chad                     chad                     748        2023
3 South Sudan              south-sudan              692        2023
4 Central African Republic central-african-republic 692        2023
5 Liberia                  liberia                  628        2023
6 Somalia                  somalia                  563        2023
  date_of_information ranking region
1 1                   Africa  NA
2 2                   Africa  NA
3 3                   Africa  NA
4 4                   Africa  NA
5 5                   Africa  NA
6 6                   Africa  NA

In [6]:
#Displays the last few rows of DIRTY1
tail(DIRTY1)

    name         slug         deaths.100 X000.live.births date_of_information
191 Australia    australia    2          2023             191
192 Israel       israel       2          2023             192
193 Poland       poland       2          2023             193
194 Belarus      belarus      1          2023             194
195 Norway       norway       1          2023             195
196 Cook Islands cook-islands 0          2023             196
    ranking               region
191 Australia and Oceania NA
192 Middle East           NA
193 Europe                NA
194 Europe                NA
195 Europe                NA
196 Australia and Oceania NA

In [7]:
#Displays column names of DIRTY1
names(DIRTY1)

[1] "name"                "slug"                "deaths.100"
[4] "X000.live.births"    "date_of_information" "ranking"
[7] "region"

In [8]:
#removes unwanted columns from the data frame
DIRTY1 <- DIRTY1[, !(names(DIRTY1) %in% c('region', 'X000.live.births', 'date_of_information', 'slug'))]

In [9]:
#checks the internal structure of the object named DIRTY1
str(DIRTY1)

'data.frame':	196 obs. of  3 variables:
 $ name      : chr  "Nigeria" "Chad" "South Sudan" "Central African Republic" ...
 $ deaths.100: int  993 748 692 692 628 563 521 518 505 494 ...
 $ ranking   : chr  "Africa" "Africa" "Africa" "Africa" ...

In [10]:
#This code finds three specific columns in DIRTY1 and replaces their names with more readable labels
names(DIRTY1)[names(DIRTY1) %in% c("name", "deaths.100", "ranking")] <-
  c("Country", "Deaths per 100k Live Births", "Region")

In [11]:
#converts all values in the Country column to uppercase text
DIRTY1$Country <- toupper(DIRTY1$Country)

In [12]:
#Displays all items in the dataframe (Object) DIRTY1
DIRTY1

    Country                           Deaths per 100k Live Births
1   NIGERIA                           993
2   CHAD                              748
3   SOUTH SUDAN                       692
4   CENTRAL AFRICAN REPUBLIC          692
5   LIBERIA                           628
6   SOMALIA                           563
7   AFGHANISTAN                       521
8   BENIN                             518
9   GUINEA-BISSAU                     505
10  GUINEA                            494
11  LESOTHO                           478
12  MADAGASCAR                        445
13  CONGO, DEMOCRATIC REPUBLIC OF THE 427
14  BURUNDI                           392
15  MAURITANIA                        381
16  KENYA                             379
17  MALI                              367
18  COTE D'IVOIRE                     359
19  ZIMBABWE                          358
20  GAMBIA, THE                       354
21  SIERRA LEONE                      354
22  NIGER                             350
23  TOGO                              349
24  HAITI                             328
25  ERITREA                           291
26  TANZANIA                          276
27  NAURU                             273
28  CAMEROON                          258
29  SUDAN                             256
30  BURKINA FASO                      242
⋮   ⋮                                 ⋮
167 AUSTRIA                           6
168 BULGARIA                          6
169 TURKMENISTAN                      5
170 ESTONIA                           5
171 GREECE                            5
172 SWITZERLAND                       5
173 MONACO                            5
174 IRELAND                           4
175 QATAR                             4
176 NETHERLANDS                       4
177 BELGIUM                           4
178 DENMARK                           4
179 KOREA, SOUTH                      4
180 SWEDEN                            4
181 SLOVAKIA                          4
182 GERMANY                           4
183 JAPAN                             3
184 SPAIN                             3
185 NORTH MACEDONIA                   3
186 ICELAND                           3
187 CZECHIA                           3
188 CROATIA                           3
189 UNITED ARAB EMIRATES              3
190 SLOVENIA                          3
191 AUSTRALIA                         2
192 ISRAEL                            2
193 POLAND                            2
194 BELARUS                           1
195 NORWAY                            1
196 COOK ISLANDS                      0
    Region
1   Africa
2   Africa
3   Africa
4   Africa
5   Africa
6   Africa
7   South Asia
8   Africa
9   Africa
10  Africa
11  Africa
12  Africa
13  Africa
14  Africa
15  Africa
16  Africa
17  Africa
18  Africa
19  Africa
20  Africa
21  Africa
22  Africa
23  Africa
24  Central America and the Caribbean
25  Africa
26  Africa
27  Australia and Oceania
28  Africa
29  Africa
30  Africa
⋮   ⋮
167 Europe
168 Europe
169 Central Asia
170 Europe
171 Europe
172 Europe
173 Europe
174 Europe
175 Middle East
176 Europe
177 Europe
178 Europe
179 East and Southeast Asia
180 Europe
181 Europe
182 Europe
183 East and Southeast Asia
184 Europe
185 Europe
186 Europe
187 Europe
188 Europe
189 Middle East
190 Europe
191 Australia and Oceania
192 Middle East
193 Europe
194 Europe
195 Europe
196 Australia and Oceania

In [13]:
#saves your cleaned R data frame to disk in R’s native .RDS format
saveRDS(DIRTY1,"HW3.1_MaternalMortalityRatio.RDS")

In [14]:
#loading back the saved .RDS file and inspecting its structure
DIRTY1RDS=readRDS("HW3.1_MaternalMortalityRatio.RDS")
str(DIRTY1RDS)

'data.frame':	196 obs. of  3 variables:
 $ Country                    : chr  "NIGERIA" "CHAD" "SOUTH SUDAN" "CENTRAL AFRICAN REPUBLIC" ...
 $ Deaths per 100k Live Births: int  993 748 692 692 628 563 521 518 505 494 ...
 $ Region                     : chr  "Africa" "Africa" "Africa" "Africa" ...

In [15]:
#saving cleaned data to a CSV file, reloading it, and checking its structure
write.csv(DIRTY1,"HW3.1_MaternalMortalityRatio.csv", row.names=FALSE)
DIRTY1CSV=read.csv("HW3.1_MaternalMortalityRatio.csv")
str(DIRTY1CSV)

'data.frame':	196 obs. of  3 variables:
 $ Country                    : chr  "NIGERIA" "CHAD" "SOUTH SUDAN" "CENTRAL AFRICAN REPUBLIC" ...
 $ Deaths.per.100k.Live.Births: int  993 748 692 692 628 563 521 518 505 494 ...
 $ Region                     : chr  "Africa" "Africa" "Africa" "Africa" ...

# **LINK 2 CLEANING & FORMATTING**

In [ ]:
#creates a variable that stores a web link for that variable
HW3LINK2="https://github.com/DACSS601HW/HW3/raw/refs/heads/main/HW3.2_Infant%20mortality%20rate.csv"

In [ ]:
#This line downloads a CSV file from the web and loads it into R as a data frame, storing it in a variable called DIRTY2
DIRTY2=read.csv(HW3LINK2)

In [ ]:
#inspects the internal structure of the dataset so you can quickly understand what kind of data you’re working with
str(DIRTY2)

'data.frame':	227 obs. of  7 variables:
 $ name               : chr  "Afghanistan" "Somalia" "Central African Republic" "Equatorial Guinea" ...
 $ slug               : chr  "afghanistan" "somalia" "central-african-republic" "equatorial-guinea" ...
 $ deaths.1           : num  101.3 83.6 80.5 77.4 71.2 ...
 $ X000.live.births   : int  2024 2024 2024 2024 2024 2024 2024 2024 2024 2024 ...
 $ date_of_information: int  1 2 3 4 5 6 7 8 9 10 ...
 $ ranking            : chr  "South Asia" "Africa" "Africa" "Africa" ...
 $ region             : logi  NA NA NA NA NA NA ...

In [ ]:
#displays the first few rows of DIRTY2
head(DIRTY2)

  name                     slug                     deaths.1 X000.live.births
1 Afghanistan              afghanistan              101.3    2024
2 Somalia                  somalia                   83.6    2024
3 Central African Republic central-african-republic  80.5    2024
4 Equatorial Guinea        equatorial-guinea         77.4    2024
5 Sierra Leone             sierra-leone              71.2    2024
6 Niger                    niger                     64.3    2024
  date_of_information ranking    region
1 1                   South Asia NA
2 2                   Africa     NA
3 3                   Africa     NA
4 4                   Africa     NA
5 5                   Africa     NA
6 6                   Africa     NA

In [ ]:
#Displays the last few rows of DIRTY2
tail(DIRTY2)

    name      slug      deaths.1 X000.live.births date_of_information
222 Japan     japan     1.9      2024             222
223 Norway    norway    1.8      2024             223
224 Monaco    monaco    1.7      2024             224
225 Iceland   iceland   1.6      2024             225
226 Singapore singapore 1.5      2024             226
227 Slovenia  slovenia  1.5      2024             227
    ranking                 region
222 East and Southeast Asia NA
223 Europe                  NA
224 Europe                  NA
225 Europe                  NA
226 East and Southeast Asia NA
227 Europe                  NA

In [ ]:
#removes unwanted columns from the data frame
DIRTY2 <- DIRTY2[, !(names(DIRTY2) %in% c('region', 'X000.live.births', 'date_of_information', 'slug'))]

In [ ]:
#checks the internal structure of the object named DIRTY2
str(DIRTY2)

'data.frame':	227 obs. of  3 variables:
 $ name    : chr  "Afghanistan" "Somalia" "Central African Republic" "Equatorial Guinea" ...
 $ deaths.1: num  101.3 83.6 80.5 77.4 71.2 ...
 $ ranking : chr  "South Asia" "Africa" "Africa" "Africa" ...

In [ ]:
#This code finds three specific columns in DIRTY2 and replaces their names with more readable labels
names(DIRTY2)[names(DIRTY2) %in% c("name", "deaths.1", "ranking")] <-
  c("Country", "Infant Deaths per 1K Live Births", "Region")

In [ ]:
#converts all values in the Country column to uppercase text
DIRTY2$Country <- toupper(DIRTY2$Country)

In [ ]:
#Displays all items in the dataframe (Object) DIRTY2
DIRTY2

In [ ]:
#saves your cleaned R data frame to disk in R’s native .RDS format
saveRDS(DIRTY2,"HW3.2_InfantMortalityRate.RDS")

In [ ]:
#loading back the saved .RDS file and inspecting its structure
DIRTY2RDS=readRDS("HW3.2_InfantMortalityRate.RDS")
str(DIRTY2RDS)

'data.frame':	227 obs. of  3 variables:
 $ Country                         : chr  "AFGHANISTAN" "SOMALIA" "CENTRAL AFRICAN REPUBLIC" "EQUATORIAL GUINEA" ...
 $ Infant Deaths per 1K Live Births: num  101.3 83.6 80.5 77.4 71.2 ...
 $ Region                          : chr  "South Asia" "Africa" "Africa" "Africa" ...

In [ ]:
#saving cleaned data to a CSV file, reloading it, and checking its structure
write.csv(DIRTY2,"HW3.2_InfantMortalityRate.csv", row.names=FALSE)
DIRTY2CSV=read.csv("HW3.2_InfantMortalityRate.csv")
str(DIRTY2CSV)

'data.frame':	227 obs. of  3 variables:
 $ Country                         : chr  "AFGHANISTAN" "SOMALIA" "CENTRAL AFRICAN REPUBLIC" "EQUATORIAL GUINEA" ...
 $ Infant.Deaths.per.1K.Live.Births: num  101.3 83.6 80.5 77.4 71.2 ...
 $ Region                          : chr  "South Asia" "Africa" "Africa" "Africa" ...

# **LINK 3 CLEANING & FORMATTING**

In [ ]:
#creates a variable that stores a web link for that variable
HW3LINK3="https://github.com/DACSS601HW/HW3/raw/refs/heads/main/HW3.3_Life%20expectancy%20at%20birth.csv"

In [ ]:
#This line downloads a CSV file from the web and loads it into R as a data frame, storing it in a variable called DIRTY3
DIRTY3=read.csv(HW3LINK3)

In [ ]:
#inspects the internal structure of the dataset so you can quickly understand what kind of data you’re working with
str(DIRTY3)

'data.frame':	227 obs. of  6 variables:
 $ name               : chr  "Monaco" "Singapore" "Macau" "Japan" ...
 $ slug               : chr  "monaco" "singapore" "macau" "japan" ...
 $ years              : num  89.8 86.7 85.3 85.2 84.2 84.2 84 84 83.9 83.8 ...
 $ date_of_information: int  2024 2024 2024 2024 2024 2024 2024 2024 2024 2024 ...
 $ ranking            : int  1 2 3 4 5 6 7 8 9 10 ...
 $ region             : chr  "Europe" "East and Southeast Asia" "East and Southeast Asia" "East and Southeast Asia" ...

In [ ]:
#displays the first few rows of DIRTY3
head(DIRTY3)

  name       slug       years date_of_information ranking
1 Monaco     monaco     89.8  2024                1
2 Singapore  singapore  86.7  2024                2
3 Macau      macau      85.3  2024                3
4 Japan      japan      85.2  2024                4
5 Canada     canada     84.2  2024                5
6 San Marino san-marino 84.2  2024                6
  region
1 Europe
2 East and Southeast Asia
3 East and Southeast Asia
4 East and Southeast Asia
5 North America
6 Europe

In [ ]:
#Displays the last few rows of DIRTY3
tail(DIRTY3)

    name                     slug                     years date_of_information
222 Chad                     chad                     60.0  2024
223 Sierra Leone             sierra-leone             59.4  2024
224 Mozambique               mozambique               58.3  2024
225 Somalia                  somalia                  56.5  2024
226 Central African Republic central-african-republic 56.4  2024
227 Afghanistan              afghanistan              54.4  2024
    ranking region
222 222     Africa
223 223     Africa
224 224     Africa
225 225     Africa
226 226     Africa
227 227     South Asia

In [ ]:
#removes unwanted columns from the data frame
DIRTY3 <- DIRTY3[, !(names(DIRTY3) %in% c('ranking', 'X000.live.births', 'date_of_information', 'slug'))]

In [ ]:
#checks the internal structure of the object named DIRTY3
str(DIRTY3)

'data.frame':	227 obs. of  3 variables:
 $ name  : chr  "Monaco" "Singapore" "Macau" "Japan" ...
 $ years : num  89.8 86.7 85.3 85.2 84.2 84.2 84 84 83.9 83.8 ...
 $ region: chr  "Europe" "East and Southeast Asia" "East and Southeast Asia" "East and Southeast Asia" ...

In [ ]:
#This code finds three specific columns in DIRTY3 and replaces their names with more readable labels
names(DIRTY3)[names(DIRTY3) %in% c("name", "years", "region")] <-
  c("Country", "Average Years Lived", "Region")

In [ ]:
#converts all values in the Country column to uppercase text
DIRTY3$Country <- toupper(DIRTY3$Country)

In [ ]:
#Displays all items in the dataframe (Object) DIRTY3
DIRTY3

In [ ]:
#saves your cleaned R data frame to disk in R’s native .RDS format
saveRDS(DIRTY3,"HW3.3_LifeExpectancyAtBirth.RDS")

In [ ]:
#loading back the saved .RDS file and inspecting its structure
DIRTY3RDS=readRDS("HW3.3_LifeExpectancyAtBirth.RDS")
str(DIRTY3RDS)

'data.frame':	227 obs. of  3 variables:
 $ Country            : chr  "MONACO" "SINGAPORE" "MACAU" "JAPAN" ...
 $ Average Years Lived: num  89.8 86.7 85.3 85.2 84.2 84.2 84 84 83.9 83.8 ...
 $ Region             : chr  "Europe" "East and Southeast Asia" "East and Southeast Asia" "East and Southeast Asia" ...

In [ ]:
#saving cleaned data to a CSV file, reloading it, and checking its structure
write.csv(DIRTY3,"HW3.3_LifeExpectancyAtBirth.csv", row.names=FALSE)
DIRTY3CSV=read.csv("HW3.3_LifeExpectancyAtBirth.csv")
str(DIRTY3CSV)

'data.frame':	227 obs. of  3 variables:
 $ Country            : chr  "MONACO" "SINGAPORE" "MACAU" "JAPAN" ...
 $ Average.Years.Lived: num  89.8 86.7 85.3 85.2 84.2 84.2 84 84 83.9 83.8 ...
 $ Region             : chr  "Europe" "East and Southeast Asia" "East and Southeast Asia" "East and Southeast Asia" ...